<% if flash.has?(:message) %>
  <%= flash[:message] %>
<% end %>

<h1>Create a New Online Store</h1>

<form action="/stores" method="POST">
  <label> Store Name </label>
  <input type="text" name="store[name]"> </br>

  <input type="submit" value="Create">
</form>
