<h1>Login to Jmarket!</h1>
<form method="post" action="/login">
  <input type="text" name="username" placeholder="Username:"><br>
  <input type="text" name="password" placeholder="Password:"><br>
  <input class="btn btn-primary" type="submit" value="login"><br>
</form>
