<p> Here are your stores, <%= @user.username %>
<% @user.stores.each do |store| %>
  <ul>
    <li><a href="/stores/<%=store.id%>"><%= store.name %></a> with <%store.products.size%> products</li>
  </ul>
<% end %>
